@import url("https://fonts.googleapis.com/css?family=Kaushan+Script|Asap+Condensed&display=swap");
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.App {
    width: 100%;
    min-height: 100vh;
}
  
.main {
    max-width: 1000px;
    width: 100%;
    margin: auto;
}
  
img {
    object-fit: cover;
}

@import url(./loading.css);
@import url(./header.css);
@import url(./avatar.css);
@import url(./profile.css);
@import url(./home.css);
@import url(./static_modal.css);
@import url(./comments.css);
@import url(./loginSignUpPage.css);
@import url(./post_thumb.css);
