.loginSignup {
  position: relative;
  min-height: 100vh;
}

.loginSignup__header {
  padding: 3rem 0;
}

.loginSignup__headerLogo>h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-left: 1rem;
  letter-spacing: 1px;
  font-family: monospace;
  text-decoration: none !important;
}

.loginSignup__headerLogo>h1:hover {
  color: var(--color-sub-light);
}

.form__field:hover {
  color: var(--color-white);
}

.login__logout:hover {
  color: var(--color-sub-light);
}