.post_thumb {
    background: var(--color-bg);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
    gap: 4px;
    border: 1px solid var(--color-main);
}


.card_post-display {
    border-bottom: 1px solid var(--color-gray);
    padding: 15px;
    color: var(--color-white);
}

.card_post-display:hover {
    color: #d0cccc;
}

.post_thumb_menu {
    margin-top: -10px;
}

.post_thumb .post_thumb_menu i {
    color: var(--color-text);
    opacity: 1;
    margin: 15px 15px;
}